<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Página de bienvenida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="background-color: #f0f4f7;">
  <div class="welcome-container">
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>¡Hola, {{nombre}}!</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-label>
          <h2>Bienvenido usuario: {{nombre}}</h2>
        </ion-label>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
